/*
* Ally Palanzi
* Una Kravets
* wwww.ukravedesign.com
* Updated: we'll put the date that we launch;
*/


/* Notes :)
================================================== 

UKRAVE COLORS!!
    selection   : #DFDD24
    mint        : #85CCAB
    salmon      : #F5917D
    teal        : #21A39D
    light gray  : #F1F1F2

INDEX:
    1. #topsection
    2. #aboutsection
    3. #we-make
    4. #gallery

*/


/* #Reset
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Fontface
================================================== */

@font-face {
    font-family: 'Archer Medium';
    src: url('fonts/archerpro-medium.eot');
    src: url('fonts/archerpro-medium?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-medium.woff') format('woff'),
         url('fonts/archerpro-medium.ttf') format('truetype'),
         url('fonts/archerpro-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Archer Medium Italic';
    src: url('fonts/archerpro-mediumita.eot');
    src: url('fonts/archerpro-mediumita.eot?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-mediumita.woff') format('woff'),
         url('fonts/archerpro-mediumita.ttf') format('truetype'),
         url('fonts/archerpro-mediumita.svg') format('svg');
    font-weight: italic;
    font-style: normal;

}
@font-face {
    font-family: 'Archer Bold';
    src: url('fonts/archerpro-bold.eot');
    src: url('fontsarcherpro-bold?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-bold.woff') format('woff'),
         url('fonts/archerpro-bold.ttf') format('truetype'),
         url('fonts/archerpro-bold.svg') format('svg');
    font-style: normal;

}
@font-face {
    font-family: 'Archer Bold Italic';
    src: url('fonts/archerpro-boldita.eot');
    src: url('fonts/archerpro-boldita?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-boldita.woff') format('woff'),
         url('fonts/archerpro-boldita.ttf') format('truetype'),
         url('fonts/archerpro-boldita.svg') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Archer SemiBold';
    src: url('fonts/archerpro-semibold.eot');
    src: url('fonts/archerpro-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-semibold.woff') format('woff'),
         url('fonts/archerpro-semibold.ttf') format('truetype'),
         url('fonts/archerpro-semibold.svg') format('svg');
    font-style: normal;

}
@font-face {
    font-family: 'Archer SemiBold Italic';
    src: url('fonts/archerpro-semiboldita.eot');
    src: url('fonts/archerpro-semiboldita.eot?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-semiboldita.woff') format('woff'),
         url('fonts/archerpro-semiboldita.ttf') format('truetype'),
         url('fonts/archerpro-semiboldita.svg') format('svg');
    font-weight: italic;
    font-style: normal;

}


/* #Basic Styles
================================================== */
	body{
        width:100%;
    }

	#container{
    }

    ::selection{
        background: #DFDD24;
        font-color: #FFF;
    }





/* #Typography
================================================== */

p {
	font-family: "Archer Medium", serif;
	font-size: 18px;
    color:#373C42;
    line-height:1.3em;
}
/* section headlines */
h1 {
    font-family:'Archer SemiBold', serif;
    font-size:60px;
    color:#373C42;
    text-align: center;
    text-transform: lowercase;
    padding: 90px 20px;
}
/* our names */
h2{
    font-family:'Archer SemiBold', serif;
    text-transform: lowercase;
    font-size:60px;
    color:#21A39D;
}
/* subheadlines */
h3{
    font-family:'Archer SemiBold Italic', serif;
    font-size:35px;
    color:#85CCAB;
}
/* headlines within sections ex. mobile, web dev, etc. */
h4{
    font-family:'Archer SemiBold Italic', serif;
    font-size:35px;
    color:#F1F1F2;
}
/* contact area gets it's own styles because they are all different hooray */
#contact p{
    color:#F1F1F2;
}
/* get in touch */
#contact h1{
    font-family:'Archer SemiBold', serif;
    font-size:55px;
    color:#F1F1F2;
}

#contact h2{

}


/* #Links
================================================== */


/* #Lists
================================================== */



/* #Images
================================================== */



/* #Buttons
================================================== */



/* #Forms
================================================== */


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        h1{
            font-size:55px;
        }
      
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {



    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        h1{
            font-size:45px;
        }
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        h1{
            font-size:50px;
        }
    }


/* #Top Section
================================================== */

#topsection{
    position:absolute;
    width: 100%;
    height: 768px;
    background: #21A39D;
}

#top_chevron {
    position:absolute;
    width:100%;
    background: url(../images/chevron.png) repeat-x;
    height:360px;
    margin-top: 150px;
}

#top_bigcircle_logo {
    position:relative;
    background: url(../images/bigcirclelogo.png) no-repeat;
    width: 505px;
    height: 505px;
    margin:60px auto;
}

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {
    }
    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
    }


/* #About Section
================================================== */

#aboutsection{
    position:absolute;
    width: 100%;
    height: auto;
    background: url(../images/noisebg.png), #F1F1F2;
    margin-top:768px;
    padding-bottom:100px;
}

    #aboutsection p{
        font-family: "Archer Semibold", serif;
    }

    #aboutsection h3{
        margin: 10px 0;
    }

#aboutus_container{
    width:900px;
    height:300px;
    margin: 0 auto;
}

.aboutus_photo{
   width: 340px;
   height: 340px;
   background: rgba(0,0,0,0); 
       -moz-border-radius: 190px; 
       -webkit-border-radius: 190px; 
       border-radius: 190px;
    border: 20px solid #85CCAB;
    float:left;
}

.backup_photo{
   width: 340px;
   height: 340px;
   background: #373C42; 
       -moz-border-radius: 190px; 
       -webkit-border-radius: 190px; 
       border-radius: 190px;
    border: 20px solid #85CCAB;
    position:absolute;
}

    #ally .backup_photo{
        margin-left:520px;
    }

#una h3[rel="unaportlink"]{
    display:none;
    position:absolute;
    width:230px;
    margin:180px 80px;
    z-index:2;
}

#ally h3[rel="allyportlink"]{
    display:none;
    position:absolute;
    margin: 180px 600px;
    width: 230px;
    z-index:2;
}

#una_photo {
    background: url(https://sphotos-b.xx.fbcdn.net/hphotos-ash3/547663_3680708936134_247594359_n.jpg) 50%, #21A39D;
    background-size:100%; /* makes the image smaller  (fits a square, then masked by circle) */
    z-index:1;
    position:relative;
}

#ally_photo {
    background: url(https://sphotos-a.xx.fbcdn.net/hphotos-snc6/184069_2279636157393_2615079_n.jpg) 10%, #21A39D;
    z-index:1;
    position:relative;
}

#una_photo:hover, #ally_photo:hover {
    opacity:.3;
}

#una, #ally{
    height:500px;
}

.aboutus_text{
    width:420px;
    float:left;
}

    #una .aboutus_text{
        margin-left:90px;
    }

    #ally .aboutus_text{
        margin-right:90px;
    }

#ally .aboutus_text, #ally .aboutus_photo{
    float:right;
}

.socialicons_sm{
    margin-top:20px;
}

.socialicons_sm div {
    height:34px;
    width: 34px;
    margin: 0 5px 0 0;
    background: url(../images/socialicons_sm.png);
    float:left;
}

#allyp{background-position: -5px -5px}
#allyp:hover{background-position: -5px -43px}
#dribbble{background-position: -48px -5px}
#dribbble:hover{background-position: -48px -43px}
#flickr{background-position: -91px -5px}
#flickr:hover{background-position: -91px -43px}
#behance{background-position: -134px -5px}
#behance:hover{background-position: -134px -43px}
#twitter{background-position: -177px -5px}
#twitter:hover{background-position: -177px -43px}
#unak{background-position: -221px -5px}
#unak:hover{background-position: -221px -43px}
#instagram{background-position: -263px -5px}
#instagram:hover{background-position: -263px -43px}


    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {
    }
    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
    }



/*We make cool & pretty things
================================================== */

    #we-make-container{
        width:100%;
        background-color:#21A39D;
        padding-bottom:60px;

    }

    #we-make{
        max-width:1020px;
        width:90%;
        margin:0px auto;
    }

    #all-icon-container{
        margin:0px auto;
        width:100%;
        max-width:1020px;
    }
  
    .icon-container{
        width:280px;
        margin-bottom:40px;
        margin-right:30px;
        margin-left:30px;
        float:left;
    }

    .icon{
        width:280px;
    }

    .icon-text{
        padding-top:15px;
    }

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {
    }
    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
    }

/* Gallery
================================================== */

    #gallery-container{
        width:100%;
        background-color:#85CCAB;
    }

    #gallery{
        max-width:1020px;
        width:90%;
        margin:0px auto;
    }

    .clear{
        clear:both;
    }

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {
    }
    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
    }