/*
* Ally Palanzi
* Una Kravets
* wwww.ukravedesign.com
* Updated: we'll put the date that we launch;
*/


/* #Reset
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Fontface
================================================== */

@font-face {
    font-family: 'Archer Medium';
    src: url('fonts/archerpro-medium.eot');
    src: url('fonts/archerpro-medium?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-medium.woff') format('woff'),
         url('fonts/archerpro-medium.ttf') format('truetype'),
         url('fonts/archerpro-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Archer Medium Italic';
    src: url('fonts/archerpro-mediumita.eot');
    src: url('fonts/archerpro-mediumita.eot?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-mediumita.woff') format('woff'),
         url('fonts/archerpro-mediumita.ttf') format('truetype'),
         url('fonts/archerpro-mediumita.svg') format('svg');
    font-weight: italic;
    font-style: normal;

}
@font-face {
    font-family: 'Archer Bold';
    src: url('fonts/archerpro-bold.eot');
    src: url('fontsarcherpro-bold?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-bold.woff') format('woff'),
         url('fonts/archerpro-bold.ttf') format('truetype'),
         url('fonts/archerpro-bold.svg') format('svg');
    font-style: normal;

}
@font-face {
    font-family: 'Archer Bold Italic';
    src: url('fonts/archerpro-boldita.eot');
    src: url('fonts/archerpro-boldita?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-boldita.woff') format('woff'),
         url('fonts/archerpro-boldita.ttf') format('truetype'),
         url('fonts/archerpro-boldita.svg') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Archer SemiBold';
    src: url('fonts/archerpro-semibold.eot');
    src: url('fonts/archerpro-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-semibold.woff') format('woff'),
         url('fonts/archerpro-semibold.ttf') format('truetype'),
         url('fonts/archerpro-semibold.svg') format('svg');
    font-style: normal;

}
@font-face {
    font-family: 'Archer SemiBold Italic';
    src: url('fonts/archerpro-semiboldita.eot');
    src: url('fonts/archerpro-semiboldita.eot?#iefix') format('embedded-opentype'),
         url('fonts/archerpro-semiboldita.woff') format('woff'),
         url('fonts/archerpro-semiboldita.ttf') format('truetype'),
         url('fonts/archerpro-semiboldita.svg') format('svg');
    font-weight: italic;
    font-style: normal;

}


/* #Basic Styles
================================================== */
	body{}

	#container{}





/* #Typography
================================================== */

p {
	font-family: "Archer Medium", serif;
	font-size: 18px;
    color:#373C42;
}
/* section headlines */
h1 {
    font-family:'Archer SemiBold', serif;
    font-size:60px;
    color:#373C42;
}
/* our names */
h2{
    font-family:'Archer SemiBold', serif;
    font-size:60px;
    color:#21A39D;
}
/* subheadlines */
h3{
    font-family:'Archer SemiBold Italic', serif;
    font-size:35px;
    color:#85CCAB;
}
/* headlines within sections ex. mobile, web dev, etc. */
h4{
    font-family:'Archer SemiBold Italic', serif;
    font-size:35px;
    color:#F1F1F2;
}
/* contact area gets it's own styles because they are all different hooray */
#contact p{
    color:#F1F1F2;
}
/* get in touch */
#contact h1{
    font-family:'Archer SemiBold', serif;
    font-size:55px;
    color:#F1F1F2;
}

#contact h2{

}


/* #Links
================================================== */



/* #Lists
================================================== */



/* #Images
================================================== */



/* #Buttons
================================================== */



/* #Forms
================================================== */


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}



